.jumbotron{
    background-color: rgb(255, 145, 0);
    color: black;
    text-align: center;
    margin-top: 50px;
}

.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: rgb(229, 255, 0);
    margin-bottom: 0px;
    margin-top: 10px;
}

.footer-address-icon{
    padding-right: 10px;
}